@{
    ViewData["Title"] = "Oops";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

<div class="container MainContainer">
    <div class="row MainRow justify-content-center pt-5">
        <div class="col-lg-6 col-md-8 mx-auto MainCol shadow-lg p-3 mb-5 rounded text-center">
            <h3>OOPS, SOMETHING WENT WRONG!</h3>
            <hr />

            <h5>Due to Some technical error, your request cannot be processed at this moment.</h5>
            <br />
            <h5>Please try again in sometime.</h5>
            
        </div>
    </div>
</div>