@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

<div class="container MainContainer">
    <div class="row MainRow justify-content-center pt-5">
        <div class="col-lg-6 col-md-8 mx-auto MainCol shadow-lg p-3 mb-5 rounded text-center">
            <h3>Thank You For Registering</h3>
            <hr />

            <h4>We've sent you an Email for Verification.</h4><br/>
            <h5>Please check your Inbox.</h5>

            <div class="p-4">
                <a href="/Accounts/UserLogin" class="btn btn-primary">Go To Login</a>
            </div>
        </div>
    </div>
</div>